<div class="dashboard-container">
<div class="card-container" [routerLink]="['/constructors']">
  <h1 class="card-title">CONSTRUCTOR LIST</h1>
  <p class="card-content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <img class="card-content" src="assets/dashboard/redbull.jpg">
</div>

<div class="card-container" [routerLink]="['/races']">
  <h1 class="card-title">RACE SCHEDULE</h1>
  <p class="card-content-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  <img class="card-content" src="assets/dashboard/race.jpg">
</div>

<div class="card-container" [routerLink]="['/drivers']">
  <h1 class="card-title">DRIVERS LIST</h1>
  <p class="card-content-text">from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <img class="card-content" src="assets/dashboard/drivers.jpg">
</div>
</div>
