@import "src/app/@shared/css/variables";


@font-face {
  font-family: "Regular";
  src: local("Regular"), url("./assets/fonts/Formula1-Regular.ttf") format("truetype");
}

html, body{
  font-family: "Regular";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $c-dark-grey;
}

::-webkit-scrollbar-thumb {
  background: $c-black;
}

::-webkit-scrollbar-thumb:hover {
  background: $c-black;
}
